 hello world

    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "Khfz7THk288Nh/kPSvxFLq7gtSnETkvV1yCfxw+ljZnNc5rAZH7zHvEhTS4IN7ot6NRsbEggSu928abywBm4uQ==", :name => "csrf-token"}/
    %link{"data-turbolinks-track" => "reload", :href => "/assets/application-20597f7122b97f433c4487edf7d6a0cfc9e951e2a661b8b0c7320b95bbd38ccd.css", :media => "all", :rel => "stylesheet"}/
    %script{"data-turbolinks-track" => "reload", :src => "/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51.js"}
    .header
    グループを作成しました
      .flash-box
      .notice ログインしました。うごいて
    .wrapper
      .chat-side
        .side-header
          .side-header__box
            %p.side-header__box__user-name yamada
            %ul.side-header__box__menu
              %li.side-header__box__menu__new-group
                %a{:href => "/groups/new"}
                  %i.fa.fa-edit
              %li.side-header__box__menu__edit-user
                %a{:href => "/users/156/edit"}
                  %i.fa.fa-cog